.videoPage-titlebar, .videoPage-tabpanel{

    background: rgb(53, 53, 53);

.videobox-titlebar{
    margin-top: 30px;

    background-color: rgb(51, 51, 51);
    color: white;

    
}

.videoPage-tabpanel-section{

    background-color:rgb(244, 242, 242);
  }