@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.password-modal{
  z-index: 100;
  position: fixed;
  margin: 0 auto;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  top: 20%;
  border-radius: 10px;
  left: 16.5%;
}
 .profile-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]{
  display: none;
}
.password-sub-modal{
  display: none;
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin: 10px auto;
  border-radius: 10px;
  
}
#show:checked ~ .password-sub-modal{
  display: block;
}
.password-sub-modal .close-btn{
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
  display: block;
  text-align: right;
}
.password-sub-modal .close-btn:hover{
  color: #3498db;
}
.password-sub-modal .text{
 font-size: 25px;
 font-weight: 600;
 text-align: center;
}

.error-section label{
  color: red;
   
}
.error-section span{
  color: red;
  margin-left: 5px;
  
  
}
.error-section input{
  background: rgba(231, 80, 80, 0.1);
  }



